<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>landingPage</title>
    <link rel="stylesheet" href="/styles/styles-landing-page.css">
    <script id="applicationScript" src="/js/landing-page.js"></script>
</head>

<body>
    <div id="landingPage">
        <div id="Viatours">
            <span>Viatours</span>
        </div>
        <div id="Home">
            <span><a href="/landing">Home</a></span>
        </div>
        <div id="Weather">
            <span><a href="#">Weather</a></span>
        </div>
        <div id="Signup">
            <span><a href="#">Sign Up</a></span>
        </div>

        <a href="/login">
            <div id="Group_2">
                <div id="Group_1">
                    <svg class="Rectangle_1">
                        <rect id="Rectangle_1" rx="28" ry="28" x="0" y="0" width="136" height="56">
                        </rect>
                    </svg>
                </div>
                <div id="Login">
                    <span><a href="/login">Login</a></span>
                </div>
            </div>
        </a>
        <svg class="Line_1" viewBox="0 0 1480 1">
            <path id="Line_1" d="M 0 0 L 1480 0">
            </path>
        </svg>
        <svg class="Rectangle_3">
            <rect id="Rectangle_3" rx="42" ry="42" x="0" y="0" width="1480" height="468">
            </rect>
        </svg>
        <img id="home-main" src="/images/home-main.png" srcset="/images/home-main.png 1x, /images/home-main@2x.png 2x">

        <div id="Grab_up_to_on_your_favourite__">
            <span>Grab up to on<br />your favourite <br />Destination.</span>
        </div>
        <div id="Current_Conditions">
            <span>Current Conditions</span>
        </div>
        <div id="see_more">
            <span>see more</span>
        </div>
        <svg class="Line_2" viewBox="0 0 3 178">
            <path id="Line_2" d="M 0 0 L 0 178">
            </path>
        </svg>
        <svg class="Line_3" viewBox="0 0 3 178">
            <path id="Line_3" d="M 0 0 L 0 178">
            </path>
        </svg>
        <svg class="Line_4" viewBox="0 0 3 178">
            <path id="Line_4" d="M 0 0 L 0 178">
            </path>
        </svg>
        <div id="Group_4">
            <div id="n_3_">
                <span>23 ℃</span>
            </div>
            <div id="Group_3">
                <svg class="Rectangle_4">
                    <rect id="Rectangle_4" rx="0" ry="0" x="0" y="0" width="163" height="37">
                    </rect>
                </svg>
                <div id="feels_like_23">
                    <span>feels like 23℃</span>
                </div>
            </div>
        </div>
        <svg class="Rectangle_6">
            <rect id="Rectangle_6" rx="0" ry="0" x="0" y="0" width="161" height="43">
            </rect>
        </svg>
        <div id="partly_cloudy">
            <span>partly cloudy</span>
        </div>
        <svg class="Icon_core-cloudy" viewBox="1.102 1.125 91.719 59.386">
            <path id="Icon_core-cloudy"
                d="M 74.47572326660156 31.89660835266113 L 74.47572326660156 31.4251651763916 C 74.47572326660156 21.60804176330566 62.13201141357422 13.62081050872803 46.9603157043457 13.62081050872803 C 46.53993988037109 13.62081050872803 46.12128448486328 13.62785720825195 45.70511245727539 13.64009952545166 C 44.1929817199707 6.322362899780273 34.38733291625977 0.9239898920059204 22.98208045959473 1.130229949951172 C 11.57682800292969 1.336469888687134 2.252414226531982 7.080772399902344 1.374237179756165 14.44173431396484 C 0.4960626363754272 21.80269241333008 8.34751033782959 28.40495109558105 19.56871795654297 29.74141311645508 C 19.48674392700195 30.30109977722168 19.4454288482666 30.86297035217285 19.44490051269531 31.4251651763916 L 19.44490242004395 31.89660835266113 C 8.086799621582031 33.21813201904297 0.1665877103805542 39.93158721923828 1.190769791603088 47.36946105957031 C 2.214949131011963 54.80733489990234 11.84469223022461 60.50896453857422 23.38495635986328 60.51031112670898 L 70.53548431396484 60.51031112670898 C 82.07486724853516 60.51031112670898 91.70661163330078 54.80899429321289 92.73180389404297 47.37062454223633 C 93.75625610351562 39.93109512329102 85.83486175537109 33.21728515625 74.47572326660156 31.8963680267334 Z M 7.422770500183105 15.55282878875732 C 7.422773361206055 10.02140808105469 14.07086563110352 5.444724082946777 22.60174560546875 5.102545738220215 C 31.13142013549805 4.760015487670898 38.60258102416992 8.770038604736328 39.65879440307617 14.25830841064453 C 30.78149795532227 15.85311031341553 23.71660232543945 20.20599937438965 20.82029342651367 25.86525726318359 C 13.08101654052734 24.9843807220459 7.433768272399902 20.63754463195801 7.422770500183105 15.55282688140869 Z M 70.53548431396484 56.55378723144531 L 23.38495826721191 56.55378723144531 C 14.60077571868896 56.55378723144531 7.423323631286621 52.01542663574219 7.220656394958496 46.33275985717773 C 7.018158912658691 40.64987564086914 13.86457824707031 35.90219497680664 22.63974571228027 35.64010238647461 L 25.55886840820312 35.55479049682617 L 25.55886840820312 31.4251651763916 C 25.55887413024902 23.77721786499023 35.14037322998047 17.57733345031738 46.95975112915039 17.57733345031738 C 58.77912902832031 17.57733345031738 68.36062622070312 23.77721786499023 68.36062622070312 31.4251651763916 L 68.36061859130859 35.55479049682617 L 71.27973937988281 35.64010238647461 C 80.05491638183594 35.90218734741211 86.90133666992188 40.64987182617188 86.69884490966797 46.33255004882812 C 86.49636077880859 52.01522064208984 79.31903839111328 56.55368041992188 70.53452301025391 56.55378723144531 Z">
            </path>
        </svg>
        <div id="n_9">
            <span>29℃</span>
        </div>
        <div id="n_9_">
            <span>29℃</span>
        </div>
        <div id="Pop">
            <span>Pop</span>
        </div>
        <div id="Humility">
            <span>Humility</span>
        </div>
        <div id="n_">
            <span>0%</span>
        </div>
        <div id="n_4">
            <span>64%</span>
        </div>
        <div id="Wind">
            <span>Wind</span>
        </div>
        <div id="UV">
            <span>UV</span>
        </div>
        <div id="n_0_kmh_E">
            <span>10 km/h E</span>
        </div>
        <div id="low">
            <span>low</span>
        </div>
        <div id="Visibility">
            <span>Visibility</span>
        </div>
        <div id="Pressure">
            <span>Pressure</span>
        </div>
        <div id="n_609_km">
            <span>16.09 km</span>
        </div>
        <div id="n_01_pa">
            <span>101 pa</span>
        </div>
        <div id="Sunrise">
            <span>Sunrise</span>
        </div>
        <div id="Sunset">
            <span>Sunset</span>
        </div>
        <div id="High_">
            <span>High </span>
        </div>
        <div id="Low_bm">
            <span>Low</span>
        </div>
        <div id="n_42_am">
            <span>5:42 am</span>
        </div>
        <div id="n_42_pm">
            <span>8:42 pm</span>
        </div>
        <div id="Trails">
            <span>Trails</span>
        </div>
        <div id="n__bq">
            <span></span><br />
        </div>
        <a href="/landing/trail-detail-1">
            <svg class="Rectangle_7">
                <rect id="Rectangle_7" rx="38" ry="38" x="0" y="0" width="472" height="415">
                </rect>
            </svg>
            <img id="home-trail1" src="/images/home-trail1.png"
                srcset="/images/home-trail1.png 1x, /images/home-trail1@2x.png 2x">
    
            <div id="White_River_Suspension_Bridge_">
                <span>White River Suspension Bridge Trail </span>
            </div>
            <div id="length_180km_times__4_days">
                <span>length 180km<br />times ： 4 days</span>
            </div>
            <div id="Group_6">
                <div id="Group_5">
                    <div id="Campsite">
                        <span>Campsite</span>
                    </div>
                    <div id="n_80_available">
                        <span>180 available</span>
                    </div>
                </div>
            </div>
            <svg class="Line_5" viewBox="0 0 399 1">
                <path id="Line_5" d="M 0 0 L 399 1">
                </path>
            </svg>
        </a>
        
        <a href="/landing/trail-detail-2">
            <svg class="Rectangle_7_b">
                <rect id="Rectangle_7_b" rx="38" ry="38" x="0" y="0" width="455" height="409">
                </rect>
            </svg>
            <img id="home-trail2" src="/images/home-trail2.png"
                srcset="/images/home-trail2.png 1x, /images/home-trail2@2x.png 2x">
    
            <div id="length__80km_times_2_days">
                <span>length 80km<br />times ：2 days</span>
            </div>
            <div id="Point_Peelee_Trail_">
                <span>Point Peelee Trail </span>
            </div>
            <svg class="Line_6" viewBox="0 0 401.628 2">
                <path id="Line_6" d="M 0 0 L 401.6275634765625 0">
                </path>
            </svg>
            <div id="Group_5_b">
                <div id="Campsite_b">
                    <span>Campsite</span>
                </div>
                <div id="n_0_available">
                    <span>90 available</span>
                </div>
            </div>
        </a>
        
        <a href="/landing/trail-detail-3">
            <svg class="Rectangle_7_ca">
                <rect id="Rectangle_7_ca" rx="38" ry="38" x="0" y="0" width="503" height="409">
                </rect>
            </svg>
            <img id="home-trail3" src="/images/home-trail3.png"
                srcset="/images/home-trail3.png 1x, /images/home-trail3@2x.png 2x">
    
            <div id="length_240km_times__4_days">
                <span>length 240km<br />times ： 4 days</span>
            </div>
            <div id="Georgian_Bay_Island_Trail_">
                <span>Georgian Bay Island Trail </span>
            </div>
            <svg class="Line_7" viewBox="0 0 450.037 2">
                <path id="Line_7" d="M 0 0 L 450.036865234375 0">
                </path>
            </svg>
            <div id="Group_5_cd">
                <div id="Campsite_ce">
                    <span>Campsite</span>
                </div>
                <div id="n_80_available_cf">
                    <span>280 available</span>
                </div>
            </div>
        </a>
        
        <div id="White_River">
            <span>White River</span>
        </div>
        <div id="Point_Pelee">
            <span>Point Pelee</span>
        </div>
        <div id="Gorgian">
            <span>Gorgian</span>
        </div>
        <svg class="Line_8" viewBox="0 0 245 5">
            <path id="Line_8" d="M 0 0 L 245 0">
            </path>
        </svg>
        <svg class="Line_9" viewBox="0 0 245 1">
            <path id="Line_9" d="M 0 0 L 245 0">
            </path>
        </svg>
        <svg class="Line_10" viewBox="0 0 169 1">
            <path id="Line_10" d="M 0 0 L 169 0">
            </path>
        </svg>
        <div id="Group_8">
            <div id="Gorgian_Bay_Island_Trail">
                <span id="title">White River Bridge Trail</span>
            </div>
            <div id="Group_7">
                <svg class="Rectangle_11">
                    <rect id="Rectangle_11" rx="19" ry="19" x="0" y="0" width="1543" height="688">
                    </rect>
                </svg>
                <img id="home-gallery1" src="/images/home-gallery1.png"
                    srcset="/images/home-gallery1.png 1x, /images/home-gallery1@2x.png 2x">

                <img id="home-gallery4" src="/images/home-gallery4.png"
                    srcset="/images/home-gallery4.png 1x, /images/home-gallery4@2x.png 2x">

                <img id="home-gallery2" src="/images/home-gallery2.png"
                    srcset="/images/home-gallery2.png 1x, /images/home-gallery2@2x.png 2x">

                <img id="home-gallery5" src="/images/home-gallery5.png"
                    srcset="/images/home-gallery5.png 1x, /images/home-gallery5@2x.png 2x">

                <img id="home-gallery6" src="/images/home-gallery6.png"
                    srcset="/images/home-gallery6.png 1x, /images/home-gallery6@2x.png 2x">

                <img id="home-gallery3" src="/images/home-gallery3.png"
                    srcset="/images/home-gallery3.png 1x, /images/home-gallery3@2x.png 2x">

            </div>
        </div>
        <svg class="Rectangle_12">
            <rect id="Rectangle_12" rx="0" ry="0" x="0" y="0" width="100%" height="333">
            </rect>
        </svg>
        <div id="Contact">
            <span>Contact</span>
        </div>
        <div id="n_28_Queensberry_StreetNorth_M">
            <span>328 Queensberry Street,North Melbourne Vic3051,Australia<br />hi@viatours.com</span>
        </div>
        <div id="Copyright_Viatours_2024">
            <span>@Copyright Viatours 2024</span>
        </div>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
    integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
<script>
    $(function () {
        $("#Point_Pelee").click(function () {
            console.log("-----------point pelee ----------------");
            $("#title").text("Point Pelee Trail");
            $("#home-gallery2").attr("src", "https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/RedPandaFullBody.JPG/1200px-RedPandaFullBody.JPG");
            $("#home-gallery2").attr("srcset", "https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/RedPandaFullBody.JPG/1200px-RedPandaFullBody.JPG 1x, https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/RedPandaFullBody.JPG/1200px-RedPandaFullBody.JPG 2x");

        });

        $("#White_River").click(function () {
            console.log("-----------point pelee ----------------");
            $("#title").text("White River Bridge Trail");
        });

        $("#Gorgian").click(function () {
            console.log("-----------Gorgian ----------------");
            $("#title").text("Gorgian Bay Island trail");
        });

    })
</script>
</html>