<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    
    <!-- font awesome for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <!-- fullcalendar for calendar -->
    <link rel="stylesheet" href="/styles/styles-landing-page.css">
    <script id="applicationScript" src="/js/landing-page.js"></script>


</head>
<body>
  
    <header>
        <div class="header-container">
            <div class="logo">Viatours</div>
            <nav>
                <ul>
                    <li><a href="/landing">Home</a></li>
                    <li><a href="/weather">Weather</a></li>
                </ul>
            </nav>
            <% if (username) { %>
                <div class="auth">
                    <a class="nopointer" href="#">Hi,  <%= username %>!</a>
                    <a href="/logout">Log Out</a>
                </div>
                <% }else{ %>
                    <div class="auth">
                        <a href="/sign-up">Sign up</a>
                        <a href="/login">Log in</a>
                    </div>
            <% } %>

    </header>

    <main>
        <section class="tour-details">
            <div class="landing-pic-area" >
                <div class="landing-pic-left"  style="background-color:rgb(236,102,42) ;  ">
                    <!-- <img src="images/home-main.png" alt="trail"> -->
                     <div class="landing-pic-txt">
                         <span>Welcome to Conestoga Park, </span> <br>
                         <span>and explore</span><br>
                         <span>the beauty of nature !</span>
                     </div>
                </div>
                <div class="landing-pic" >
                    <img src="/images/home-main.png"  >
                </div>
            </div>
            

            <div class="weather-title">
                <div style="font-size: 30px; font-weight: 750;float: left;">Current Conditions</div>   
                <a href="#">
                    <div style="float: right;">see more</div> 
                </a>
            </div>

            <div class="weather">
                <div class="left-blank"></div>
                <div class="left-1">
                    <div class="dushu" >23 ℃</div>
                    <div class="feel">feels like 23℃</div>
                </div>
                <div class="left-2">
                    <div class="weather-icon" >
                        <i class="fa-solid fa-cloud"></i>
                    </div>
                    <div class="weather-desc">partly cloudy</div>
                </div>
                <div class="right-1">
                    <div class="right-1-data">High</div>
                    <div class="right-1-data" >29℃</div>
                    <div class="right-1-data">POP</div>
                    <div class="right-1-data">0%</div>
                    <div class="right-1-data">Wind</div>
                    <div class="right-1-data">10km/h</div>
                    <div class="right-1-data">Visibility</div>
                    <div class="right-1-data">16.09km</div>
                    <div class="right-1-data">Sunrise</div>
                    <div class="right-1-data">5:23am</div>
                </div>
                <div class="right-2">
                    <div class="right-2-data">Low</div>
                    <div class="right-2-data">13℃</div>
                    <div class="right-2-data">Humidity</div>
                    <div class="right-2-data">64%</div>
                    <div class="right-2-data">UV</div>
                    <div class="right-2-data">Low</div>
                    <div class="right-2-data">Pressure</div>
                    <div class="right-2-data">101.1kPa</div>
                    <div class="right-2-data">Sunset</div>
                    <div class="right-2-data">8:58p.m.</div>
                </div>
                <div class="right-blank"></div>
            </div>
            
            <div class="trail-title">Trails</div>

            <div class="trails">
                <a href="/landing/trail-detail-1">
                    <div class="card">
                        <div class="card-pic">
                            <img src="/images/home-trail1.png">
                        </div>
                        <div class="card-desc">
                            <div>
                                <i class="fa-solid fa-location-dot"></i>
                                <span>Pukaskwa National Park</span>
                            </div>
                            <div class="trail-name">White River Suspension Bridge Trail</div>
                            <div>length: 180 km</div>
                            <div>Time: 4 days</div>
                            <div class="inside-line">
                                <hr>
                            </div>
                            <div class="avail">
                                <div>Campsite:</div>
                                <div class="avail-count">180 available</div>
                            </div>
                        </div>
                    </div>
                </a>


                <a href="/landing/trail-detail-2">
                    <div class="card">
                        <div class="card-pic">
                            <img src="/images/home-trail2.png">
                        </div>
                        <div class="card-desc">
                            <div>
                                <i class="fa-solid fa-location-dot"></i>
                                <span>Point Pelee National Park</span>
                            </div>
                            <div class="trail-name">Tip Trail</div>
                            <div>length: 80 km</div>
                            <div>Time: 2 days</div>
                            <div class="inside-line">
                                <hr>
                            </div>
                            <div class="avail">
                                <div>Campsite:</div>
                                <div  class="avail-count">90 available</div>
                            </div>
                        </div>
                    </div>
                </a>


                <a href="/landing/trail-detail-3">
                    <div class="card">
                        <div class="card-pic">
                            <img src="/images/home-trail3.png">
                        </div>
                        <div class="card-desc">
                            <div>
                                <i class="fa-solid fa-location-dot"></i>
                                <span>Fairy Trail</span>
                            </div>
                            <div class="trail-name">Georgian Bay National Park Trail</div>
                            <div>length: 240 km</div>
                            <div>Time: 8 days</div>
                            <div class="inside-line">
                                <hr>
                            </div>
                            <div class="avail">
                                <div>Campsite:</div>
                                <div class="avail-count">120 available</div>
                            </div>
                        </div>
                    </div>
                </a>
                
            </div>


            <div class="gallery-title">
                <div class="wrapper">
                    <div class="gallery-title-item active">White River</div>
                    <div class="gallery-title-item ">Point Pelee</div>
                    <div class="gallery-title-item">Georgian</div>
                </div>
                <div class="specified-name">
                    White River Suspension Brideg Trail
                </div>
            </div>

            <div class="gallery">
                <div class="item item-1"><img src="/images/home-gallery1.png" alt="Image 1"></div>
                <div class="item item-2"><img src="/images/home-gallery2.png" alt="Image 2"></div>
                <div class="item item-3"><img src="/images/home-gallery3.png" alt="Image 3"></div>
                <div class="item item-4"><img src="/images/home-gallery4.png" alt="Image 4"></div>
                <div class="item item-5"><img src="/images/home-gallery5.png" alt="Image 5"></div>
                <div class="item item-6"><img src="/images/home-gallery6.png" alt="Image 6"></div>
            </div>

        </section>


       
    </main>

    <footer>
        <div class="footer-container">
            <h3>Contact</h3>
            <address>328 Queensberry Street, North Melbourne VIC 3051, Australia.</address>
            <a href="mailto:hi@viatours.com">hi@viatours.com</a>
            <p>&copy; Copyright Viatours 2024</p>
        </div>
    </footer>
</body>
</html>