<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>orderListPage</title>
    <link rel="stylesheet" href="/styles/styles-order-list-page.css">
    <script id="applicationScript" src="/js/order-list-page.js"></script>
</head>

<body>
    <div id="orderListPage">
        <div id="Viatours">
            <span>Viatours</span>
        </div>
        <div id="Home">
            <span><a href="/landing">Home</a></span>
        </div>
        <div id="Weather">
            <span><a href="#">Weather</a></span>
        </div>
        <div id="hi_Brent">
            <span>hi, <%= username %>!</span>
        </div>
        <div id="Group_1">
            <svg class="Rectangle_1">
                <rect id="Rectangle_1" rx="28" ry="28" x="0" y="0" width="136" height="56">
                </rect>
            </svg>
        </div>
        <a href="/logout">
            <div id="Logout">
                <span><a href="/logout">Logout</a></span>
            </div>
        </a>
        <svg class="Line_1" viewBox="0 0 1480 1">
            <path id="Line_1" d="M 0 0 L 1480 0">
            </path>
        </svg>
        <svg class="Rectangle_12">
            <rect id="Rectangle_12" rx="0" ry="0" x="0" y="0" width="100%" height="333">
            </rect>
        </svg>
        <div id="Contact">
            <span>Contact</span>
        </div>
        <div id="n_28_Queensberry_StreetNorth_M">
            <span>328 Queensberry Street,North Melbourne Vic3051,Australia<br />hi@viatours.com</span>
        </div>
        <div id="Copyright_Viatours_2024">
            <span>@Copyright Viatours 2024</span>
        </div>
        <div id="Home__Orders">
            <span>Home > Orders</span>
        </div>
        <svg class="Rectangle_21">
            <rect id="Rectangle_21" rx="8" ry="8" x="0" y="0" width="331" height="53">
            </rect>
        </svg>
        <svg class="Path_1" viewBox="5 2 14 20">
            <path id="Path_1"
                d="M 12 2 C 8.130000114440918 2 5 5.130000114440918 5 9 C 5 14.25 12 22 12 22 C 12 22 19 14.25 19 9 C 19 5.130000114440918 15.86999988555908 2 12 2 Z M 12 11.5 C 10.61999988555908 11.5 9.5 10.38000011444092 9.5 9 C 9.5 7.619999885559082 10.61999988555908 6.5 12 6.5 C 13.38000011444092 6.5 14.5 7.619999885559082 14.5 9 C 14.5 10.38000011444092 13.38000011444092 11.5 12 11.5 Z">
            </path>
        </svg>
        <div id="Group_13">
            <div id="Orders_z">
                <span>Orders</span>
            </div>
            <svg class="Rectangle_17">
                <rect id="Rectangle_17" rx="26" ry="26" x="0" y="0" width="1453" height="452">
                </rect>
            </svg>
            <img id="Rectangle_18" src="/images/Rectangle_18.png"
                srcset="/images/Rectangle_18.png 1x, /images/Rectangle_18@2x.png 2x">

            <svg class="Rectangle_19">
                <rect id="Rectangle_19" rx="0" ry="0" x="0" y="0" width="619" height="330">
                </rect>
            </svg>
            <svg class="Rectangle_20">
                <rect id="Rectangle_20" rx="0" ry="0" x="0" y="0" width="361" height="330">
                </rect>
            </svg>
            <div id="Order_number__1001">
                <span>Order number : 1001</span>
            </div>
            <div id="White_River_Suspension_Bridge_">
                <span>White River Suspension Bridge Trail </span>
            </div>
            <div id="length_180km_times__4_days">
                <span>length 180km<br />times ： 4 days</span>
            </div>
            <svg class="Line_11" viewBox="0 0 1 330">
                <path id="Line_11" d="M 0 330 L 0 0">
                </path>
            </svg>
            <div id="start_from_">
                <span>start from </span>
            </div>
            <div id="Oct_272024">
                <span>Oct. 27,2024</span>
            </div>
            <div id="n__days_3_nights">
                <span>4 days 3 nights</span>
            </div>
            <div id="n__parking_spot">
                <span>1 parking spot</span>
            </div>
            <div id="n__people">
                <span>6 people</span>
            </div>
            <div id="Modify_booking">
                <span>Modify booking</span>
            </div>
            <div id="Cancel_booking">
                <span>Cancel booking</span>
            </div>
            <svg class="Path_2" viewBox="5 2 17.412 26.819">
                <path id="Path_2"
                    d="M 13.70599365234375 2 C 8.892823219299316 2 4.999999523162842 6.197098731994629 4.999999523162842 11.38648319244385 C 4.999999523162842 18.42634582519531 13.70599365234375 28.81852340698242 13.70599365234375 28.81852340698242 C 13.70599365234375 28.81852340698242 22.4119873046875 18.42634582519531 22.4119873046875 11.38648319244385 C 22.4119873046875 6.197098731994629 18.5191650390625 2 13.70599365234375 2 Z M 13.70599365234375 14.73879909515381 C 11.98966884613037 14.73879909515381 10.59671020507812 13.23696136474609 10.59671020507812 11.38648319244385 C 10.59671020507812 9.536005973815918 11.98966884613037 8.034168243408203 13.70599365234375 8.034168243408203 C 15.42231845855713 8.034168243408203 16.81527519226074 9.536005973815918 16.81527519226074 11.38648319244385 C 16.81527519226074 13.23696136474609 15.42231845855713 14.73879909515381 13.70599365234375 14.73879909515381 Z">
                </path>
            </svg>
            <div id="conestoga_park">
                <span>conestoga park</span>
            </div>
        </div>
        <div id="Past_Orders">
            <span>Past Orders</span>
        </div>
        <svg class="Rectangle_17_bi">
            <rect id="Rectangle_17_bi" rx="26" ry="26" x="0" y="0" width="1453" height="452">
            </rect>
        </svg>
        <img id="Rectangle_18_bj" src="/images/Rectangle_18_bj.png"
            srcset="/images/Rectangle_18_bj.png 1x, /images/Rectangle_18_bj@2x.png 2x">

        <div id="Order_number__1000">
            <span>Order number : 1000</span>
        </div>
        <div id="White_River_Suspension_Bridge__bl">
            <span>White River Suspension Bridge Trail </span>
        </div>
        <div id="length_180km_times__4_days_bm">
            <span>length 180km<br />times ： 4 days</span>
        </div>
        <svg class="Line_11_bn" viewBox="0 0 1 330">
            <path id="Line_11_bn" d="M 0 330 L 0 0">
            </path>
        </svg>
        <div id="start_from__bo">
            <span>start from </span>
        </div>
        <div id="Sept_272023">
            <span>Sept. 27,2023</span>
        </div>
        <div id="n__days_3_nights_bq">
            <span>4 days 3 nights</span>
        </div>
        <div id="n__parking_spot_br">
            <span>1 parking spot</span>
        </div>
        <div id="n__people_bs">
            <span>6 people</span>
        </div>
        <svg class="Path_2_bt" viewBox="5 2 17.412 26.819">
            <path id="Path_2_bt"
                d="M 13.70599365234375 2 C 8.892823219299316 2 4.999999523162842 6.197098731994629 4.999999523162842 11.38648319244385 C 4.999999523162842 18.42634582519531 13.70599365234375 28.81852340698242 13.70599365234375 28.81852340698242 C 13.70599365234375 28.81852340698242 22.4119873046875 18.42634582519531 22.4119873046875 11.38648319244385 C 22.4119873046875 6.197098731994629 18.5191650390625 2 13.70599365234375 2 Z M 13.70599365234375 14.73879909515381 C 11.98966884613037 14.73879909515381 10.59671020507812 13.23696136474609 10.59671020507812 11.38648319244385 C 10.59671020507812 9.536005973815918 11.98966884613037 8.034168243408203 13.70599365234375 8.034168243408203 C 15.42231845855713 8.034168243408203 16.81527519226074 9.536005973815918 16.81527519226074 11.38648319244385 C 16.81527519226074 13.23696136474609 15.42231845855713 14.73879909515381 13.70599365234375 14.73879909515381 Z">
            </path>
        </svg>
        <div id="conestoga_park_bu">
            <span>conestoga park</span>
        </div>
        <div id="Group_15">
            <svg class="Rectangle_22">
                <rect id="Rectangle_22" rx="13" ry="13" x="0" y="0" width="126" height="29">
                </rect>
            </svg>
            <div id="Upcoming">
                <span>Upcoming</span>
            </div>
        </div>
        <svg class="Rectangle_22_by">
            <rect id="Rectangle_22_by" rx="13" ry="13" x="0" y="0" width="126" height="29">
            </rect>
        </svg>
        <div id="History">
            <span>History</span>
        </div>
    </div>
</body>

</html>