<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css"><!-- make sure you are pointing to the correct css folder-->
    <title>Canada Day | Home</title>
</head>
<body class="home">
         <!-- zhiqun xie ,8915726  -->
    <header>
        <h1>Control Panel login</h2>
    </header>
    <nav>
        <ul>
            <li> <a href="/">Home</a> </li>
            <li> <a href="/add">Add New Product</a> </li>
            <li> <a href="/login">Admin Login</a>   </li>
            <li> <a href="/logout">Logout</a>       </li>
        </ul>
    </nav>
    <main>
        <h2>Admin Login</h2>
<!-- form for logging in  -->
        <form action="/login" method="post">
            <fieldset>
                <legend>Login Information</legend>
            <div class="formdata">
                <label for="name">Name</label>
                <input type="text" name="name" id="name">
            </div>
            <div class="formdata">
                <label for="password">Password</label>
                <input type="text" name="password" id="password">
            </div>
            <div class="formdata">
                <input type="submit" name="send" id="send" value="Login">
        
                <p class="red"><!-- You Can Add Custom message here --> </p>

            </fieldset>
        </form>
<!-- add footer here using EJS -->
<%- include('footer'); -%>

</body>
</html>