name: Docker Image CI

on:
  push:
    branches: [ "feature" ]
  pull_request:
    branches: [ "feature" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build . --file dockerfile --tag acegi123/conestoga-provincial-park:dev
    - name: Push the Docker image
      run: docker push acegi123/conestoga-provincial-park:dev
